/* Global Variables */
:root {
  --dl-color-success-500: #28a745;
  --dl-color-success-300: #5cb85c;
  --dl-color-gray-black: #333;
  --dl-space-space-unit: 16px;
  --dl-space-space-halfunit: 8px;
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-success-500);
}

.home-header {
  width: 100%;
  height: auto; /* Make it auto */
  display: flex;
  padding: var(--dl-space-space-unit);
  position: absolute;
  top: 0;
  left: 0;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
}

.home-container1 {
  flex: 0 0 auto;
  position: absolute;
  bottom: 8px;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.home-container2 {
  flex: 1; /* Allow it to take available space */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.home-image {
  width: auto; /* Make it auto */
  max-width: 100%; /* Limit to parent's width */
  margin: var(--dl-space-space-halfunit);
  align-self: flex-start;
  object-fit: cover;
}

.home-container3 {
  flex: 1; /* Allow it to take available space */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.home-text {
  padding: var(--dl-space-space-halfunit);
  font-family: Spectral;
}

.home-container4 {
  flex: 1; /* Allow it to take available space */
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-text1 {
  color: var(--dl-color-gray-black);
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  font-family: Spectral;
  text-transform: capitalize;
}

.home-image1 {
  position: absolute;
  max-width: 100%; /* Limit to parent's width */
  bottom: -3px;
  left: 13px;
  object-fit: cover;
  padding-bottom: 8px;
}

.home-text2 {
  position: absolute;
  top: 19px;
  left: 122px;
  width: auto; /* Make it auto */
  max-width: 100%; /* Limit to parent's width */
}

.home-container5 {
  width: 100%; /* Make it 100% */
  display: flex;
  flex-wrap: wrap; /* Wrap content */
  box-shadow: 5px 5px 10px 0px #1d0d0d;
}

.home-container6 {
  width: 100%; /* Make it 100% */
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px 0px #1aa957;
  background-color: var(--dl-color-success-300);
}

.home-text3, .home-text6, .home-text7 {
  margin: var(--dl-space-space-halfunit);
  line-height: 4;
}

.home-container7 {
  flex: 1; /* Allow it to take available space */
  display: flex;
  flex-direction: column;
}
